<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact App</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
      }

      .container {
        text-align: center;
        margin-top: 100px;
      }

      h1 {
        font-size: 2rem;
        color: #333;
      }
    </style>
  </head>

  <body>
    <%-include('components/header')%>
    <div class="container">
      <h1>Welcome to Contact App</h1>
    </div>
  </body>
</html>
